body{
  background-color: #ef233c;
  background-size: 100%;
}
  
#logout{
  color: black;
  border-color: black;
}
  
#buttonRetro{
  color: black;
  border-color: rgb(0, 0, 0) black;
}
  
.d-flex2 :hover{
  background: #8d99ae;
}

.imagen_post{
  max-height: 300px;
  max-width: 300px;
}